*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
                radial-gradient(black 15%, transparent 16%) 8px 8px,
                radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
                radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828; /* 不能放在background前 */
    background-size: 16px 16px;
    background-attachment: fixed;
}

svg{
    width: 250px;
    transform: rotate(0deg);
    transition: .2s;
}

div{
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
}

.speed{
    font-size: 60px;
}

.unit{
    font-size: 15px;
}